.embla {
  --slide-spacing: 10px;
  --slide-size: 70%;
  --slide-height: 19rem;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  flex-direction: row;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.embla__slide {
  overflow: hidden;
  flex: 0 0 80%;
  min-width: 0;
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}