@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy-bold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: medium;
}