@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy-bold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: medium;
}

.hamburger-react {
  z-index: 30;
}

.styled-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.styled-underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #37d631;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.styled-underline:hover:after {
  transform: scaleX(1);
}

.PhoneInputInput {
  font-family: 'gilroy-medium';
  outline: none;
}